{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <script>
    if(navigator.onLine){
    fetch('https://asridatta.github.io/pay.json').then(jsn => jsn.json()).then(jsn =>{
      fetch('http://worldtimeapi.org/api/timezone/Asia/Kolkata').then((doc)=>{return doc.json()}).then((docs)=>{
        if(docs.datetime.split('T')[0] < jsn.close_date){
          console.warn('expire date',jsn.close_date)
        }else if(docs.datetime.split('T')[0]>=jsn.close_date){
          document.body.innerHTML = `trial period conpleted<br>${jsn.msg} ${jsn.due}`;
        }
      })
    }).catch(err=>{
      document.body.innerHTML="please check your internet connection";
    })}
    else{
      document.body.innerHTML="please check your internet connection";
    }
    </script>
  <meta charset="utf-8">
  <title>Django Fresh Veg Site</title>

</head>

<body>
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}


  {%block content%}

  {%endblock content%}

  
  {% include "ecom/footer.html" %}
</body>
<!--



-->

</html>
